// Here you can add other styles
.titleHead{
    margin-bottom: 24px;
    margin-top: 24px;
}

.tableTop{
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.disIcon{
    display: inline-block;
    color: inherit;
    text-align: center;
    vertical-align: -0.125rem;
    fill: black;
}